@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOutLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.leaderboard-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 900;

  padding: 15px;
  border: 1px solid #ffd700;
  border-radius: 0 12px 12px 0;
  background-color: #333;
  max-width: 450px;
  width: 90%;
  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.6);
  text-align: center;
  overflow-y: auto;

  transition: transform 0.4s ease-in-out;
  transform: translateX(-100%);
}

.leaderboard-enter-active {
  animation: slideInLeft 0.4s forwards;
  transform: translateX(0);
}

.leaderboard-exit-active {
  animation: slideOutLeft 0.4s forwards;
}

.leaderboard-title {
  color: #ffd700;
  margin-bottom: 10px;
  border-bottom: 1px solid #ffd70030;
  padding-bottom: 5px;
  font-size: 20px;
}

.no-scores {
  color: #ccc;
  font-size: 14px;
}

.score-list {
  text-align: left;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  max-width: 350px;
}

.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  color: #aaa;
  margin: 0 auto 5px;
  max-width: 350px;
  border-bottom: 2px solid #ffd700;
  text-transform: uppercase;
}

.list-item {
  margin-bottom: 8px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  border-bottom: 1px dotted #ffffff30;
  font-size: 15px;
}

.item-rank {
  font-weight: bold;
  width: 25px;
  margin-right: 10px;
  color: #ffd700;
}

.item-name {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.item-score {
  min-width: 45px;
  text-align: right;
  margin-left: 10px;
  color: #61dafb;
}

.item-date {
  font-size: 12px;
  color: #aaa;
  margin-left: 10px;
  min-width: 80px;
}
